<h1>お気に入りの一覧</h1><br>
<table>
  <tr>
    <th>画像</th>
    <th>内容</th>
    <th>ユーザー</th>
  </tr>
  <% @favorites.each do |favorite| %>
    <td><%= image_tag favorite.picture.image.url %></td>
    <td><%= favorite.picture.content %></td>
    <td><%= favorite.picture.user.name %></td>
    <td>
      <% unless favorite.user_id == current_user.id %>
        <% if @favorite.present? %>
          <%= link_to 'お気に入り解除する', favorite_path(id: favorite.id), method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to 'お気に入りする', favorites_path(favorite.picture_id: favorite.picture.id), method: :post, class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </td>
  <% end %>
</table>
<br>
<button type="button" class="btn btn-light"><%= link_to '新しく投稿する', new_picture_path %></button>