<h1>お気に入りの一覧</h1><br>
<% if @favorites == [] %>
  お気に入りした投稿はまだありません。<br>
<% else %>
  <table>
    <tr>
      <th>画像</th>
      <th>内容</th>
      <th>ユーザー</th>
    </tr>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= image_tag favorite.picture.image.url, class: 'sized' %></td>
        <td><%= favorite.picture.content %></td>
        <td><%= favorite.picture.user.name %></td>
        <td><%= link_to 'お気に入り解除する', favorite_path(id: favorite.id), method: :delete, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<br>
<button type="button" class="btn btn-light"><%= link_to "投稿一覧へ", pictures_path %></td></button>
<br>
<button type="button" class="btn btn-light"><%= link_to '新しく投稿する', new_picture_path %></button>