<h1><%= @user.name %>のプロフィール編集</h1><br>
<%= form_with( model: @user, local: true ) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_expanation">
      <h2><%= @user.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
<%= form_with(model: @user, local: true) do |f| %>  
  <p>
  <%= f.label :名前 %>
  <%= f.text_field :name %>
  </P>
  <p>
  <%= f.label :メールアドレス %>
  <%= f.email_field :email %>
  </P>
  <P>
  <%= f.label :パスワード %>
  <%= f.password_field :password %>
  </P>
  <P>
  <%= f.label :パスワード確認 %>
  <%= f.password_field :password_confirmation %>
  </P>
  <P>
  <%= f.label :プロフィール画像 %>
  <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
  <%= f.file_field :image %>
  <%= f.hidden_field :image_cache %>
  </P>
  <br>
  <%= f.submit "アカウント内容の変更を確定する" %>
<% end %>
