<h1>詳細画面</h1><br>
<p id="notice"><%= notice %></p>
<p>画像：<%= image_tag @picture.image.url %></p>
<p>内容：<%= @picture.content %></p>
<% unless @picture.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(picture_id: @picture.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
<% if current_user.id == @picture.user_id %>
  <button type="button" class="btn btn-light">
  <%= link_to '編集する', edit_picture_path(@picture) %>
  </button>
<% end %>
<br>
<button type="button" class="btn btn-light">
<%= link_to '一覧画面に戻る', pictures_path %>
</button>